* {
    padding :0;
    margin: 0;
}


#navbar {
    height:60px; 
    background-color: black;
}

button {
    background-color: orange;
}

#logo { 
    color: orange;
    font-size: 25px;
}

a{
    margin-right: 200px;
    text-decoration: none;
}
.contentBox {
    height: 100px;
    width: 900px;
    border: 2px solid black;
    display: inline-block;
}

#content {
    height: 700px;

}

footer {
    background-color: black;
    color : white;
    text-align: center;
    
}