.loader {
    width: 200px;
    height: 200px;
    border-radius :50%;
    border: 20px solid rgba(0, 200, 255, 0.847);
    border-top: 20px solid burlywood;
    animation: spinAnimate 3s ease-in-out infinite normal;
    align-content: center;
   
}

h1 {
    background-color:rgb(158, 158, 29);
    text-align: center;
}

@keyframes spinAnimate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(350deg)
    }
}
