/*PracticeSet1*/
#box {
    background-color:blue ;
} 

.heading {
    color:red;
}

button {
    background-color: green;

}

/*div box*/
*{
    font-family: "times new Roman";
}
h1 {
    text-align: center;
    text-transform:capitalize ;

}

/*PreacticeSet2*/
#outer {
    font-size: 25px;
}

#inner {
    font-size:10px ;
}

#lights{
    height: 100px;
    width:100px;
    background-color: green;
    border-radius: 50%;
}